<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.topsroboteer.scheduling.administration.userManage.dao.AdminUserMapper">
    <resultMap id="BaseResultMap" type="com.cn.topsroboteer.scheduling.administration.userManage.model.AdminUser">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="admin_uid" property="adminUid" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="roles_id" property="rolesId" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="token" property="token" jdbcType="VARCHAR"/>
        <result column="login_time" property="loginTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_del" property="isDel" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="post_id" property="postId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">id,user_name,admin_uid,password,roles_id,phone,token,login_time,create_time,update_time,is_del,
        sex,post_id
    </sql>

    <select id="list" resultType="com.cn.topsroboteer.scheduling.administration.userManage.model.AdminUser">

        select
        au.*,d.id departmentId,d.department_name,p.post_name
        from admin_user  au
        left join user_department_ref udr on au.id = udr.user_id
        left join department d  on udr.department = d.id
        left join post p on au.post_id = p.post_id
        <where>
            <if test="phone != null and phone != ''">
                and  au.phone like CONCAT('%',#{phone},'%')
            </if>
            <if test="userName != null and userName != ''">
                and au.user_name like CONCAT('%',#{userName},'%')
            </if>
            <if test="departmentId != null and departmentId != ''">
                and d.id = #{departmentId}
            </if>
        </where>
        order by au.create_time desc
    </select>



    <insert id="add" parameterType="com.cn.topsroboteer.scheduling.administration.userManage.model.AdminUser">
        insert into admin_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="userName != null and userName != ''">
                user_name,
            </if>
            <if test="adminUid != null and adminUid != ''">
                admin_uid,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="rolesId != null and rolesId != '' ">
                roles_id,
            </if>
            <if test="phone != null and phone != ''">
                phone,
            </if>
            <if test="token != null and token != ''">
                token,
            </if>
            <if test="loginTime != null ">
                login_time,
            </if>
            <if test="createTime != null ">
                create_time,
            </if>
            <if test="updateTime != null ">
                update_time,
            </if>
            <if test="isDel != null and isDel != ''">
                is_del,
            </if>
            <if test="sex != null and sex != ''">
                sex,
            </if>
            <if test="postId != null and postId != ''">
                post_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null and id != ''">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userName != null and userName != ''">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="adminUid != null and adminUid != ''">
                #{adminUid,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="rolesId != null ">
                #{rolesId,jdbcType=VARCHAR},
            </if>
            <if test="phone != null ">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="token != null ">
                #{token,jdbcType=VARCHAR},
            </if>
            <if test="loginTime != null">
                #{loginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null ">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null and isDel != ''">
                #{isDel,jdbcType=VARCHAR},
            </if>
            <if test="sex != null and sex != ''">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="postId != null and postId != ''">
                #{postId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <update id="edit" parameterType="com.cn.topsroboteer.scheduling.administration.userManage.model.AdminUser">
        update admin_user
        <set >
            <if test="userName != null" >
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="adminUid != null" >
                admin_uid = #{adminUid,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="rolesId != null" >
                roles_id = #{rolesId,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="token != null" >
                token = #{token,jdbcType=VARCHAR},
            </if>
            <if test="loginTime != null" >
                login_time = #{loginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDel != null" >
                is_del = #{isDel,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="postId != null" >
                post_id = #{postId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}

    </update>

    <delete id="del" parameterType="java.lang.String">
        delete from admin_user
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <select id="selectByAdminUser" resultType="com.cn.topsroboteer.scheduling.administration.userManage.model.AdminUser">

        select
        <include refid="Base_Column_List"></include>
        from admin_user
        where is_del = 0 and admin_uid = #{username}

    </select>

    <select id="selectByPrimaryKey" resultType="com.cn.topsroboteer.scheduling.administration.userManage.model.AdminUser">
        select
        <include refid="Base_Column_List"></include>
        from admin_user
        where id = #{id}
    </select>

    <select id="selectTokenByUid" resultType="java.lang.String">
        SELECT token
        FROM admin_user
        WHERE id = #{uid}
        AND is_del = 0
    </select>






</mapper>