<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.topsroboteer.scheduling.administration.userManage.dao.UserRoleMapper">
    <resultMap id="userRole" type="com.cn.topsroboteer.scheduling.administration.userManage.model.UserRole">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="createName" property="createName"/>
        <result column="create_time" property="createTime"/>
        <result column="updateName" property="updateName"/>
        <result column="update_time" property="updateTime"/>
        <result column="state" property="state"/>
    </resultMap>

    <select id="list" resultMap="userRole">
        select c.*,d.user_name as updateName
        from  ( select a.*,b.user_name as createName from user_role a join admin_user b on a.create_id = b.id) c
        left join admin_user d on c.update_id = d.id
        <where>
            <if test="roleName !=null and roleName !=''">
                role_name=#{roleName}
            </if>
        </where>
    </select>
    <insert id="addUserRole" parameterType="com.cn.topsroboteer.scheduling.administration.userManage.model.UserRole">
        insert  into user_role(id,role_name,create_id,create_time,update_id,update_time,state)
        values (#{id},#{roleName},#{createId},#{createTime},#{updateId},#{updateTime},#{state})
    </insert>
    <update id="upUserRole" parameterType="com.cn.topsroboteer.scheduling.administration.userManage.model.UserRole">
        update user_role

        <set>
            <if test="roleName !=null and roleName !=''">
                role_name=#{roleName},
            </if>
            <if test="createId !=null and createId !=''">
                create_id=#{createId},
            </if>
            <if test="createTime !=null ">
                create_time=#{createTime},
            </if>
            <if test="updateId !=null and updateId !=''">
                update_id=#{updateId},
            </if>
            <if test="updateTime !=null ">
                update_time=#{updateTime},
            </if>

            <if test="state !=null and state!=''">
                state=#{state}
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="delUserRole" parameterType="com.cn.topsroboteer.scheduling.administration.userManage.model.UserRole">
        delete from user_role
        where id=#{id}
    </delete>



</mapper>